<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aufbauwerk.Tools.KioskControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Aufbauwerk.Tools.KioskControl.Properties.Settings>
      <setting name="Security" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="DisconnectedText" serializeAs="String">
        <value>Connection lost.</value>
      </setting>
    </Aufbauwerk.Tools.KioskControl.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <services>
      <service name="Aufbauwerk.Tools.KioskControl.Service">
        <endpoint contract="Aufbauwerk.Tools.KioskControl.IContract" binding="webHttpBinding" bindingConfiguration="WebBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:80/Temporary_Listen_Addresses/kiosk"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="WebBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
